/Iphaser.Importer/.vs/Iphaser.Agenti/v15/Server/sqlite3/storage.ide
/Iphaser.Importer/.vs/Iphaser.Agenti/v15/Server/sqlite3/storage.ide-shm
/Iphaser.Importer/.vs/Iphaser.Agenti/v15/Server/sqlite3/storage.ide-wal
/Iphaser.Importer/Iphaser.Agenti.Model/bin/Debug/Iphaser.Agenti.Model.exe
/Iphaser.Importer/Iphaser.Agenti.Model/bin/Debug/Iphaser.Agenti.Model.pdb
/Iphaser.Importer/Iphaser.Agenti.Model/obj/Debug/Iphaser.Agenti.Model.csproj.FileListAbsolute.txt
/Iphaser.Importer/Iphaser.Agenti.Model/obj/Debug/Iphaser.Agenti.Model.csprojAssemblyReference.cache
/Iphaser.Importer/Iphaser.Agenti.Model/obj/Debug/Iphaser.Agenti.Model.exe
/Iphaser.Importer/Iphaser.Agenti.Model/obj/Debug/Iphaser.Agenti.Model.pdb
/Iphaser.Importer/Iphaser.Importer/bin/Debug/Iphaser.Agenti.Model.exe
/Iphaser.Importer/Iphaser.Importer/bin/Debug/Iphaser.Agenti.Model.pdb
/Iphaser.Importer/Iphaser.Importer/bin/Debug/Iphaser.Importer.exe
/Iphaser.Importer/Iphaser.Importer/bin/Debug/Iphaser.Importer.pdb
/Iphaser.Importer/Iphaser.Importer/obj/Debug/Iphaser.Importer.csprojAssemblyReference.cache
/Iphaser.Importer/Iphaser.Importer/obj/Debug/Iphaser.Importer.exe
/Iphaser.Importer/Iphaser.Importer/obj/Debug/Iphaser.Importer.pdb
