USE [master]
GO
/****** Object:  Database [MyMoneyManager]    Script Date: 09/05/2018 16:59:35 ******/
CREATE DATABASE [MyMoneyManager] ON  PRIMARY 
( NAME = N'MyMoneyManager', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MyMoneyManager.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyMoneyManager_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MyMoneyManager_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyMoneyManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyMoneyManager]
GO
/****** Object:  Table [dbo].[Carte]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carte](
	[ID] [varchar](50) NOT NULL,
	[IDContoCorrente] [varchar](50) NULL,
	[Possessore] [varchar](50) NULL,
	[BancomatSiNo] [int] NULL,
 CONSTRAINT [PK_Carte] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieIphase]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieIphase](
	[IDVoce] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](255) NULL,
	[Tipo] [int] NULL,
 CONSTRAINT [PK_VociIphase] PRIMARY KEY CLUSTERED 
(
	[IDVoce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieUbiBanca]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieUbiBanca](
	[ID] [int] NOT NULL,
	[Descrizione] [varchar](255) NULL,
 CONSTRAINT [PK_CategorieQuiubi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContiCorrente]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContiCorrente](
	[ID] [varchar](50) NOT NULL,
	[IDBanca] [int] NULL,
	[Descrizione] [varchar](50) NULL,
	[IBAN] [varchar](50) NULL,
 CONSTRAINT [PK_ContiCorrente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[Type] [varchar](255) NULL,
	[Used] [int] NULL,
 CONSTRAINT [PK_RoleFunction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[Keyword] [varchar](50) NULL,
	[IDVoce_Code] [nchar](10) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log4Net]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log4Net](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Level] [varchar](20) NULL,
	[User] [varchar](50) NULL,
	[Logger] [varchar](4000) NULL,
	[Message] [varchar](4000) NULL,
	[Params] [varchar](max) NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimenti]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimenti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDContoCorrente] [varchar](50) NULL,
	[DataContabile] [date] NULL,
	[DataValuta] [date] NULL,
	[Importo] [decimal](18, 2) NULL,
	[Divisa] [varchar](5) NULL,
	[Descrizione] [varchar](500) NULL,
	[Causale] [varchar](255) NULL,
	[IDCategoria] [int] NULL,
	[IDCategoriaIphase] [int] NULL,
	[IDCarta] [varchar](50) NULL,
 CONSTRAINT [PK_Movimenti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagamentiIphase]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagamentiIphase](
	[IDPagamento] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](255) NULL,
	[Chebanca] [varchar](255) NULL,
	[UbiBanca] [varchar](255) NULL,
 CONSTRAINT [PK_PagamentiIphase] PRIMARY KEY CLUSTERED 
(
	[IDPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IDRole] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IDRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFunction]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFunction](
	[IDRoleFunction] [int] IDENTITY(1,1) NOT NULL,
	[IDRole_Code] [int] NULL,
	[IDFunction_Code] [int] NULL,
	[Permission] [smallint] NULL,
 CONSTRAINT [PK_RoleFunction_1] PRIMARY KEY CLUSTERED 
(
	[IDRoleFunction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/05/2018 16:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](25) NOT NULL,
	[IDRole_Code] [int] NULL,
	[Password] [nchar](25) NULL,
	[Nome] [nchar](80) NULL,
	[Cognome] [nchar](80) NULL,
	[Email] [varchar](50) NULL,
	[Logged] [smallint] NULL,
	[Logged_IP] [nchar](20) NULL,
	[CanUpdate] [int] NULL,
	[LastVersion] [varchar](50) NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategorieIphase] ON 

INSERT [dbo].[CategorieIphase] ([IDVoce], [Descrizione], [Tipo]) VALUES (1, N'Escono -> Figli/Fam. a carico -> Abbigliamento f/f', 0)
INSERT [dbo].[CategorieIphase] ([IDVoce], [Descrizione], [Tipo]) VALUES (2, N'Escono -> Figli/Fam. a carico -> Cellulare f/f', 0)
INSERT [dbo].[CategorieIphase] ([IDVoce], [Descrizione], [Tipo]) VALUES (3, N'Escono -> Figli/Fam. a carico -> Consumo f/f', 0)
SET IDENTITY_INSERT [dbo].[CategorieIphase] OFF
SET IDENTITY_INSERT [dbo].[Function] ON 

INSERT [dbo].[Function] ([ID], [Parent], [Name], [Description], [Type], [Used]) VALUES (1, NULL, N'frmLogin', N'Login', NULL, NULL)
INSERT [dbo].[Function] ([ID], [Parent], [Name], [Description], [Type], [Used]) VALUES (2, N'frmLogin', N'Cancel', N'&Cancel', N'System.Windows.Forms.Button', 0)
INSERT [dbo].[Function] ([ID], [Parent], [Name], [Description], [Type], [Used]) VALUES (3, N'frmLogin', N'OK', N'&OK', N'System.Windows.Forms.Button', 0)
SET IDENTITY_INSERT [dbo].[Function] OFF
SET IDENTITY_INSERT [dbo].[Keywords] ON 

INSERT [dbo].[Keywords] ([Keyword], [IDVoce_Code], [id]) VALUES (N'IPERAL', N'11        ', 1)
INSERT [dbo].[Keywords] ([Keyword], [IDVoce_Code], [id]) VALUES (N'PENNY MARKET', N'11        ', 2)
INSERT [dbo].[Keywords] ([Keyword], [IDVoce_Code], [id]) VALUES (N'BENNET', N'11        ', 3)
GO
SET IDENTITY_INSERT [dbo].[Keywords] OFF
SET IDENTITY_INSERT [dbo].[Log4Net] ON 

INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (1, CAST(N'2015-02-08T18:40:17.977' AS DateTime), N'DEBUG', N'1', N'Main\frmMain.vb:65', N'********STARTING ProjectTemplate USERID=1 IP=''nbyuri'' VERSION=''Debug''**********', N'(null)', N'')
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (2, CAST(N'2015-02-08T18:40:18.017' AS DateTime), N'SQL', N'1', N'Main\frmMain.vb:153', N'08/02/2015 18:40:18 - SELECT * FROM [Function] WHERE Name=''frmMain'' AND Parent IS NULL', N'(null)', N'')
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (3, CAST(N'2015-02-08T18:40:18.043' AS DateTime), N'SQL', N'1', N'Main\frmMain.vb:170', N'08/02/2015 18:40:18 - SELECT * FROM [Function] WHERE Name=''FileToolStripMenuItem'' AND Parent=''frmMain'' ', N'(null)', N'')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (127, CAST(N'2015-02-08T21:17:32.310' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:413', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''TOURLE'' ERBA'',''69'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''ERBA''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\Yuri\Documents\Work\Fede\LibraUtils 2.0\LibraUtils\Database\Database.vb:riga 408
ClientConnectionId:2a7')
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (140, CAST(N'2015-02-08T21:19:55.673' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:413', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''TIGOTA'', LECCO'',''16'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di '',''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\Yuri\Documents\Work\Fede\LibraUtils 2.0\LibraUtils\Database\Database.vb:riga 408
ClientConnectionId:2a73cc')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (179, CAST(N'2015-02-08T21:28:46.160' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:413', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''L''OUTLET DEL CASALINGO, LECCO'',''17'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''OUTLET''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\Yuri\Documents\Work\Fede\LibraUtils 2.0\LibraUtils\Database\Database.vb:riga 408
ClientConnectionId:6')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (534, CAST(N'2015-02-15T13:52:59.530' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:413', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''C''ART GROUP SRL'',''3'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''ART''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\Yuri\Documents\Work\LibraUtils 2.0\LibraUtils\Database\Database.vb:riga 408
ClientConnectionId:00346f51-')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (852, CAST(N'2015-06-01T19:23:28.367' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:413', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''SIRABA'' DI GIABELLI MICH'',''1'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''DI''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   at System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   at System.Data.SqlClient.SqlDataReader.get_MetaData()
   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   at System.Data.SqlClient.SqlCommand.ExecuteReader()
   at LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\yuripace\Documents\Work\LibraUtils 2.0\LibraUtils\Database\Database.vb:line 408
ClientConnectionId:dbafa6')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (1160, CAST(N'2015-11-01T18:28:24.430' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:414', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''C'' ART, LECCO'',''16'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''ART''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\yuripace\Documents\Work\LibraUtils 2.0\LibraUtils\Database\Database.vb:riga 408
ClientConnectionId:3fec9')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (1576, CAST(N'2016-08-09T16:04:02.923' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:416', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''MCDONALD''S'',''69'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di ''S''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\yuripace\Documents\Work\LibraUtils 2.0\LibraUtils\Database\Data')
GO
INSERT [dbo].[Log4Net] ([ID], [Date], [Level], [User], [Logger], [Message], [Params], [Exception]) VALUES (1632, CAST(N'2016-10-07T11:05:43.857' AS DateTime), N'ERROR', N'1', N'ase\Database.vb:416', N'INSERT INTO Keywords(Keyword,IDVoce_Code) VALUES (''TIGOTA'', GARLATE'',''3'')', N'', N'System.Data.SqlClient.SqlException (0x80131904): Sintassi non corretta in prossimità di '',''.
Virgoletta di chiusura mancante dopo la stringa di caratteri '')''.
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   in System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   in System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   in System.Data.SqlClient.SqlDataReader.get_MetaData()
   in System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString)
   in System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean asyncWrite)
   in System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   in System.Data.SqlClient.SqlCommand.ExecuteReader()
   in LibraUtils.db.execute(String sql, SqlDataReader& rs2, Level logging, Boolean sp, List`1 par) in C:\Users\yuripace\Documents\Work\LibraUtils 2.0\LibraUtils\Database\Data')
GO
SET IDENTITY_INSERT [dbo].[Log4Net] OFF
SET IDENTITY_INSERT [dbo].[Movimenti] ON 

INSERT [dbo].[Movimenti] ([ID], [IDContoCorrente], [DataContabile], [DataValuta], [Importo], [Divisa], [Descrizione], [Causale], [IDCategoria], [IDCategoriaIphase], [IDCarta]) VALUES (2, NULL, CAST(N'2018-05-03' AS Date), CAST(N'2018-05-01' AS Date), CAST(-28.69 AS Decimal(18, 2)), N'EURO', N'OPERAZ.PAGOBANCOMAT DEL 01/05/2018 ALLE 16.48 TES.N.04823278 PRESSO 3428551/00413 (ABI 05216) SUPERMERCATO CENTRO BE LECCO VIA AMENDOLA 119 - CAT. MERC. (5411) N. CRO/RRN 121039504706 - ID CARTA 04823278', N'Pagamenti POS', NULL, NULL, NULL)
INSERT [dbo].[Movimenti] ([ID], [IDContoCorrente], [DataContabile], [DataValuta], [Importo], [Divisa], [Descrizione], [Causale], [IDCategoria], [IDCategoriaIphase], [IDCarta]) VALUES (3, NULL, CAST(N'2018-05-02' AS Date), CAST(N'2018-05-02' AS Date), CAST(-57.45 AS Decimal(18, 2)), N'EURO', N'OPERAZ.PAGOBANCOMAT DEL 30/04/2018 ALLE 17.06 TES.N.04823279 PRESSO 3031008/00014 (ABI 05216) SUPERMERCATO EUROSPIN MALGRATE VIA STABILINI 11 - CAT. MERC. (5411) N. CRO/RRN 120309310855 - ID CARTA 04823279', N'Pagamenti POS', NULL, NULL, NULL)
INSERT [dbo].[Movimenti] ([ID], [IDContoCorrente], [DataContabile], [DataValuta], [Importo], [Divisa], [Descrizione], [Causale], [IDCategoria], [IDCategoriaIphase], [IDCarta]) VALUES (4, NULL, CAST(N'2018-04-30' AS Date), CAST(N'2018-04-30' AS Date), CAST(-20.00 AS Decimal(18, 2)), N'EURO', N'RICARICA VODAFONE 000348739618600 DEL 26/04/18 ALLE 08.16 TRAMITE QUIUBI', N'Pagamenti POS', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Movimenti] OFF
SET IDENTITY_INSERT [dbo].[PagamentiIphase] ON 

INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (1, N'Assegno', N'Add. Ass.
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (2, N'Bancomat', N'Pagam. POS
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (3, N'Bonifico', N'Disposizione
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (4, N'Bollettino', NULL, NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (5, N'Carta di Credito', N'Carta Credito.
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (6, N'Contante', NULL, NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (7, N'Home Banking', NULL, NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (12, N'Prelevamento', N'Bancomat
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (14, N'RID', N'Delega Unica
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (15, N'Bonifico', N'Bonif. v/fav.
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (16, N'RID', N'Addebito SDD
', NULL)
INSERT [dbo].[PagamentiIphase] ([IDPagamento], [Descrizione], [Chebanca], [UbiBanca]) VALUES (17, N'Home Banking', N'Vers. cont. ATM
', NULL)
SET IDENTITY_INSERT [dbo].[PagamentiIphase] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [Username], [IDRole_Code], [Password], [Nome], [Cognome], [Email], [Logged], [Logged_IP], [CanUpdate], [LastVersion]) VALUES (1, N'yuripace                 ', 0, N'piracy82                 ', N'Yuri                                                                            ', N'Acquistapace                                                                    ', N'yuri@libra.it', 0, N'                    ', 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[CategorieUbiBanca]  WITH CHECK ADD  CONSTRAINT [FK_CategorieUbiBanca_CategorieUbiBanca] FOREIGN KEY([ID])
REFERENCES [dbo].[CategorieUbiBanca] ([ID])
GO
ALTER TABLE [dbo].[CategorieUbiBanca] CHECK CONSTRAINT [FK_CategorieUbiBanca_CategorieUbiBanca]
GO
ALTER TABLE [dbo].[Movimenti]  WITH CHECK ADD  CONSTRAINT [FK_Movimenti_Carte] FOREIGN KEY([IDCarta])
REFERENCES [dbo].[Carte] ([ID])
GO
ALTER TABLE [dbo].[Movimenti] CHECK CONSTRAINT [FK_Movimenti_Carte]
GO
ALTER TABLE [dbo].[Movimenti]  WITH CHECK ADD  CONSTRAINT [FK_Movimenti_CategorieUbiBanca] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[CategorieUbiBanca] ([ID])
GO
ALTER TABLE [dbo].[Movimenti] CHECK CONSTRAINT [FK_Movimenti_CategorieUbiBanca]
GO
ALTER TABLE [dbo].[Movimenti]  WITH CHECK ADD  CONSTRAINT [FK_Movimenti_ContiCorrente] FOREIGN KEY([IDContoCorrente])
REFERENCES [dbo].[ContiCorrente] ([ID])
GO
ALTER TABLE [dbo].[Movimenti] CHECK CONSTRAINT [FK_Movimenti_ContiCorrente]
GO
USE [master]
GO
